.feature{
    background: rgb(0, 121, 230);
    background: linear-gradient(0deg, rgba(0,121,230,1) 0%, rgba(0,250,255,1) 90%);
}

.footer_section{
    border-top: 3px solid #007BFF;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;

}

*{ 
    scroll-behavior: smooth;
} 


/* for product detail page image gallery */
.carousel-indicators li{
    width: auto !important;
    height: auto !important;
}

/* for checkout page */
.bg_checkout_1{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

/* for product layout design */
.single_product{
    background-color: rgb(241, 240, 240);  
}

.product_img{
    position: relative;
}

.product_img .new_product{
    position: absolute;
    top: 5%;
    left: 5%;
}